bms_firmware_sim
obj/
.DS_Store
linux_i2c_logger/
vulkan_compute_telemetry/
train_supervision_engine/
test_runner


# Generated build and sanitizer outputs
build/
*.o
*.elf
*.bin
*.map
*.dSYM/
__pycache__/
test_host
test_threads
test_memory
app/sensor_logger
